.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
data/*.sqlite
data/*.sqlite-shm
data/*.sqlite-wal
.pnpm-store
.agents
.vscode
.github/*
!.github/workflows/
!.github/workflows/**
apps/ui-reference
apps/web-archive
apps/shadcn-admin
